<h2>Quizzes</h2>
{% comment %} <p class="text-muted">
  Subjects:{% for subject in user.student.interests.all %} {{ subject.get_html_badge }}{% endfor %}
  <a href="{% url 'students:student_interests' %}"><small>(update interests)</small></a>
</p> {% endcomment %}

<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    {% comment %} <a class="nav-link{% if active == 'new' %} active{% endif %}" href="{% url 'students:quiz_list' %}">New</a> {% endcomment %}
    <a class="nav-link{% if active == 'new' %} active{% endif %}" href="#">New</a>
  </li>
  <li class="nav-item">
    {% comment %} <a class="nav-link{% if active == 'taken' %} active{% endif %}" href="{% url 'students:taken_quiz_list' %}">Taken</a> {% endcomment %}
    <a class="nav-link{% if active == 'taken' %} active{% endif %}" href="#">Taken</a>
  </li>
</ul>
